@import "../../pages/Main/Main.scss";
//임포트하기 가능

/* - - default setting - - */

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  position: relative;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  background-color: #fafafa;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

h2 {
  font-family: "Lobster", cursive;
  font-size: 1.2rem;
}

h3 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 800;
}

h4 {
  margin: 0;
  font-size: 0.4rem;
  font-weight: 500;
}

h5 {
  margin: 0;
  font-size: 0.4rem;
  color: rgb(128, 128, 128);
  font-weight: 400;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
  color: #488bff;
  font-weight: 500;
}

/* - - top nav - - */

#top_nav {
  position: sticky;
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
  padding: 0 28rem 0 28rem;
  justify-items: flex-start;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  gap: 2rem;
}

input {
  appearance: unset;
  height: 1.4rem;
  width: 13rem;
  border: 1px solid #dbdbdb;
  text-align: center;
}

#top_nav img {
  height: 1.4rem;
}

.top_nav__icon_right {
  display: flex;
  align-items: center;
}

.instagram_logo {
  display: inline-block;
}

.top_nav__bar {
  width: 1rem;
  height: 1rem;
  color: #000000;
}

.top_nav__icon_left {
  display: flex;
  gap: 1.5rem;
}

/* - - Main div - - */

.main {
  display: flex;
  margin: 2rem;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  gap: 2rem;
}

.main__feed__container {
  flex-direction: column;
}

.main__friends_stories {
  display: flex;
  height: 6rem;
  width: 20rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #dbdbdb;
  border-radius: 1rem;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
}

.main__friends_stories div {
  width: 4rem;
  display: flex;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  align-items: flex-end;
  justify-content: center;
}

.main__feed_uploader_username {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  padding: 0;
}
.main__feed {
  position: relative;
  display: flex;
  height: auto;
  width: 20rem;
  margin-top: 1.6rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #dbdbdb;
  border-radius: 1rem;
  flex-direction: column;
}

.main__feed_uploader_profile_img {
  background-color: rgb(91, 84, 84);
  width: 2rem;
  height: 2rem;
  margin-right: 0.4rem;
  border-radius: 50%;
}
.main__feed_uploader_bio {
  display: inline-flex;
  width: inherit;
  height: 4rem;
  padding: 0.5rem;
  align-items: center;
  justify-items: center;
}

.main__feed_uploader_profile_userlocation {
  display: block;
}

.main__feed_uploader_image_frame img {
  width: 100%;
  height: 100%;
}

.main__feed_uploader_profile_setting {
  position: absolute;
  display: inline-flex;
  padding: 1rem;
  right: 0;
}

.main__feed_uploader_profile_setting div {
  width: 0.2rem;
  height: 0.2rem;
  margin: 0.1rem;
  border-radius: 50%;
  background-color: grey;
}

.main__feed_interaction img {
  height: 1.3rem;
}

.main__feed_ctx_username,
.main__feed_comment_username {
  margin: 0;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
}

.main__feed_comments_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__feed_comments_input {
  border-radius: 3rem;
}

.main__feed_comments_enter {
  appearance: unset;
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: grey;
}

.main__feed_comments_emoji {
  width: 1.4rem;
}

.bookmark {
  position: absolute;
  right: 0;
}

.comment_area li {
  list-style: none;
}
/* - - right div - - */

.main-right {
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 1rem;
  height: 37rem;
  width: 13rem;
  padding: 1rem;
}

.main-right__my_bio {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-right__my_bio_pic {
  background-color: rgb(91, 84, 84);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.4rem;
}

.main-right__my_bio_change {
  position: absolute;
  right: 0;
}
